.guide-page {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    align-items: center;
}

.guide-title {
    font-family: 'Pacifico', cursive;
    margin-top: 40px;
    margin-bottom: 50px;
    color: var(--color-text-primary);
}

.markdown {
    width: 90%;
}

.markdown img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 20px auto;
    border: 1px solid var(--color-border, #ccc);
}